*{
  background-color:green;
  height:100px;
  width:100px;
}
div{background-color:blue;}
.box{
    background-color:skyblue;
}

#ddd{
  background-color:yellow;
}
div.box{
    background-color:seagreen;
}
